<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Do</title>
 
    <!-- Link main CSS file and additional fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
 
    <!-- Integrate jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>
 
<body>
    <!-- To Do list -->
    <div class="list">
        <h1 class="header">GroupOn User</h1>
 
        <ul class="groupOnUsers">
            {% if groupOnUsers is not null %}
                {% for groupOnUser in groupOnUsers %}
                    <li>
                        <span class="groupOnUser">{{ groupOnUser.supplierID }}</span>
                        <span class="groupOnUser">{{ groupOnUser.token }}</span>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
 
        <!-- Text field and submit button -->
        <div class="groupOnUser-add">
            <input type="text" name="supplierID" placeholder="Enter a new supplier here." class="input" autocomplete="off">
            <input type="text" name="token" placeholder="Enter a new token here." class="input" autocomplete="off">
            <input type="submit" id="addGroupOnUser" value="Add" class="submit">
        </div>
    </div>
 
    <!-- Enable adding, updating and deleting tasks in the To Do list without reloading the page -->
    <script src="{{ plugin_path('GroupON') }}/js/groupOn.js"></script>
</body>
</html>